@use "../../styles/partials/global" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.uploadBanner {
  @include desktop {
    width: 40%;
  }
  &__title {
    font-size: 14px;
    color: $silver;
    font-weight: 500;
    margin-bottom: 5px;
  }
  &__thumbnail {
    width: 100%;
    border-radius: 6px;

    @include tablet {
      width: 50%;
    }
    @include desktop {
      width: 100%;
    }
  }
}
