@use "../../styles/partials/global" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.uploadBanner {
  padding: 0 1rem;

  &__title {
    font-size: 14px;
    color: $silver;
    font-weight: 500;
    margin-bottom: 5px;
  }
  &__thumbnail {
    width: 100%;
    border-radius: 6px;
  }
}
