@use "../../styles/partials/global" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.commentsForm {
  @include flex(row);
  flex-wrap: nowrap;

  &-container {
    padding: 0 1rem 1rem 1rem;
    @include tablet {
      padding: 0 3rem 1rem 3rem;
    }
    @include desktop {
      padding: 1.5rem 0 0 7rem;
      margin-bottom: 1rem;
    }
  }
  &__amount {
    font-size: 0.8125rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }
  &__main-container {
    @include flex(column);
    margin-left: 0.625rem;
    width: 100%;
    @include tablet {
      flex-direction: row;
    }
  }
  &__label {
    font-size: 0.8125rem;
    color: $silver;
    font-weight: 600;
    margin-bottom: 0.25rem;
  }
  &__input {
    padding: 0.5rem;
    padding-bottom: 3.5rem;
    border: solid 1px $mercury;
    width: 100%;
    border-radius: 4px;
    background-color: $alabaster;

    @include tablet {
      padding-bottom: 0.5rem;
      &::placeholder {
        padding-left: 0.25rem;
      }
    }

    &:active {
      border: 2px solid $flixBlue;
    }

    &-container {
      margin-bottom: 1rem;
      @include tablet {
        width: 64%;
        margin-right: 2rem;
        margin-bottom: 0;
      }
    }
  }
  &__avatar {
    margin-top: 1.18rem;
    margin-left: 0;
    margin-right: 1rem;
  }
  &__button {
    @include flex(row);
    background-color: $flixBlue;
    background-image: url("../../assets/images/add_comment.svg");
    background-repeat: no-repeat;
    background-position: 7%;
    background-position-y: 54%;
    background-size: 1.2rem;
    color: white;
    width: 100%;
    cursor: pointer;
    padding: 0.875rem;
    border: none;
    border-radius: 0.375rem;
    justify-content: center;
    @include tablet {
      width: 27%;
      height: 2.5rem;
      margin-top: 1.25rem;
    }
    &-text {
      font-weight: 600;
      font-size: 0.875rem;
      align-self: center;
      @include tablet {
        font-size: 0.9rem;
        height: 52%;
        padding-bottom: 1rem;
        font-size: 0.75rem;
      }
    }
    &:hover {
      background-color: $flixDarkBlue;
    }
  }
}
