@use "variables" as *;
@use "fonts" as *;
@use "mixins" as *;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Avenir Next", Arial, Helvetica, sans-serif;
  font-weight: 400;
}
a {
  color: inherit;
  text-decoration: none;
}
.defaultAvatar {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  object-fit: cover;
  object-position: -3px;
  @include tablet {
    order: 3;
    margin-left: 20px;
  }
}
