@use "../../styles/partials/global" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.uploadDetails {
  padding-top: 12px;
  padding-bottom: 1rem;
  @include tablet {
    padding: 12px 0 1.5rem 0;
    border-bottom: 1px solid $mercury;
  }
  @include desktop {
    width: 65%;
    margin-right: 0;
    border: none;
    padding-left: 2rem;
  }
  &__title,
  &__description {
    display: block;
    color: $silver;
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 4px;
  }
  &__description {
    margin-top: 1rem;
  }

  &__title-input,
  &__description-input {
    border: 1px solid $mercury;
    border-radius: 4px;
    width: 100%;
    padding: 10px;
    background-color: $alabaster;

    &::placeholder {
      color: black;
    }
  }

  &__description-input {
    padding-bottom: 60px;
  }
}
