@use "../../styles/partials/global" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.videoPost {
  width: 100%;
  @include tablet {
    height: 24.06rem;
  }
  @include desktop {
    @include maxWidth();
    height: 30.3rem;
  }
  &-container {
    width: 100%;
    margin-bottom: 1rem;
    @include tablet {
      background-color: black;
      padding: 0 2.5rem;
    }
    @include desktop {
      padding: 0 13rem;
      margin-bottom: 0;
      @include maxWidth();
    }
  }
}
