@use "../../styles/partials/global" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.videoDetails {
  @include flex(column);
  padding: 1rem;

  @include tablet {
    padding: 0 2.5rem;
  }
  @include desktop {
    padding: 0 0 0 7rem;
    @include maxWidth();
  }

  &__title {
    font-weight: 600;
    line-height: 2.5rem;
    padding-bottom: 1rem;
    line-height: 2.5rem;
    border-bottom: 1px solid $mercury;

    @include tablet {
      border-bottom: none;
    }

    @include desktop {
      padding-top: 2rem;
    }
  }
  &__stats-container {
    @include flex(row);
    justify-content: space-between;
    padding: 1rem 0;
    border-bottom: 1px solid $mercury;

    @include tablet {
      padding: 0 0 0.5rem 0;
    }
  }
  &__stats-left,
  &__stats-right {
    @include flex(column);
    @include tablet {
      flex-direction: row;
    }
  }
  &__author,
  &__views {
    @include tablet {
      margin-right: 1rem;
    }
  }
  &__author {
    font-weight: 600;
    margin-bottom: 1rem;
    @include tablet {
      font-size: 0.875rem;
      margin-bottom: 0;
    }
  }
  &__views {
    color: $silver;
    font-weight: 500;
    display: inline-block;
    @include tablet {
      font-size: 0.875rem;
    }
    &-container {
      margin-bottom: 1rem;
      @include tablet {
        margin-bottom: 0;
      }
    }
  }
  &__likes {
    color: $silver;
    font-weight: 500;
    display: inline-block;

    @include tablet {
      font-size: 0.875rem;
    }
    &-container {
      @include desktop {
        padding-right: 2rem;
      }
    }
  }
  &__date {
    font-weight: 500;
    color: $silver;
    @include tablet {
      font-size: 0.875rem;
    }
  }
  &__description {
    margin: 1rem 0;
    font-size: 0.8125rem;
    line-height: 1.35rem;

    @include tablet {
      margin: 1.5rem 0;
    }
    @include desktop {
      padding-right: 2rem;
      margin-bottom: 2rem;
    }
  }
}

.viewsIcon,
.likesIcon {
  margin-right: 0.625rem;
}
